 <div id="ned-flanders" title="Made by Chris Pattle - https://github.com/pattle/simpsons-in-css">
	<div class="head">
	    <div class="hair-top hair"></div>
	    <div class="hair-side hair"></div>
	    <div class="neck-bottom"></div>
	    <div class="neck-left"></div>
	    <div class="lip"></div>
	    <div class="head-main"></div>
	    <div class="hair-line1 hair-line"></div>
	    <div class="hair-line2 hair-line"></div>
	    <div class="hair-line3 hair-line"></div>
	    <div class="hair-line4 hair-line"></div>
	    <div class="hair-line5 hair-line"></div>
	    <div class="head-top"></div>
	    <div class="eye-bulge"></div>
	    <div class="head-top-inner"></div>
	    <div class="neck-right"></div>
	    <div class="ear">
		<div class="inner"></div>
	    </div>
	    <div class="sideburn hair"></div>
	    <div class="head-side"></div>
	    
	    <div class="left-eye eye">
		<div class="pupil"></div>
	    </div>
	    
	    <div class="right-eye eye">
		<div class="pupil"></div>
	    </div>
	    
	    <div class="glasses"></div>
	    
	    <div class="mouth-top"></div>
	    <div class="mouth-left"></div>
	    <div class="mouth-right"></div>
	    <div class="mouth-bottom"></div>
	    <div class="mouth-inner"></div>
	    <div class="tongue"></div>
	    
	    <div class="moustache">
		<div class="moustache-hair1 hair left"></div>
		<div class="moustache-hair2 hair left"></div>
		<div class="moustache-hair3 hair left"></div>
		<div class="moustache-hair4 hair right"></div>
		<div class="moustache-hair5 hair right"></div>
		<div class="moustache-hair6 hair right"></div>
	    </div>
	    
	    <div class="nose"></div>
	</div>
    </div>
